 /*;
 background-image: linear-gradient(#00e600, #e6b800, #bfff80);*/
 
 body{
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
 }
 
 #ball{
	 width: 18.75rem;
	 height: 18.75rem;
	 border: 1px solid gray;
	 border-radius: 50%;
 }
 
 #ball_face{
	 height: 100%;
	 font-weight: bold;
	 font-size: 2.5em;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 background-image: linear-gradient(#b3d1ff, #4d94ff, #005ce6);
	  border-radius: 50%;
 }
 
 #ball_face:hover{
	animation: revealAnswer 5s ease-in-out forwards;
 }
 
 @keyframes revealAnswer{
	  0{
		opacity:1; 
	  }
	  
	 50%{
	  opacity:0; 
	 }
	 
	
	 100%{
	   background-image: linear-gradient(#00e600, #e6b800, #bfff80);
	   opacity: 1;	 
	   font-weight: normal;
	   font-style: italic;
	 }
 }
 
 
 
 
 
 